 /* video {

    height: 100%;
    width: 100%;
    margin: 2em auto 0;
    padding: 2em;
    border-radius: 15px;
    }

div.select {
   height: 32px;
    width: 60px;
    font-weight: bold;
    font-size: 18px;
}
label {
  color: white;
  display: none;
}
*/